:root {
    --primary-color: 43 56 68;
    --primary-100-color: 243 244 246;

    --secondary-color: 102 102 102;

    --tertiary-color: 239 235 229;

    --accent-color: 132 197 182;
    --accent-100-color: 242 249 248;
    --acceent-300-color: 184 225 217;
    --accent-500-color: 132 197 182;
    --accent-700-color: 72 170 151;

    --light-color: 249 250 251;
    --dark-color: 102 102 102;
    --black-color: 0 0 0;
    --white-color: 255 255 255;

    --gray-color: 102 102 102;
    --gray-50-color: 249 250 251;
    --gray-100-color: 243 244 246;
    --gray-200-color: 229 231 235;
    --gray-300-color: 209 213 219;
    --gray-400-color: 156 163 175;
    --gray-500-color: 107 114 128;
    --gray-600-color: 138 140 142;
    --gray-700-color: 102 102 102;
    --gray-800-color: 31 41 55;
    --gray-900-color: 17 24 39;

    --red-color: 239 68 68;
    --red-50-color: 254 242 242;
    --red-100-color: 254 226 226;
    --red-200-color: 254 202 202;
    --red-300-color: 252 165 165;
    --red-400-color: 248 113 113;
    --red-500-color: 239 68 68;
    --red-600-color: 220 38 38;

    --yellow-color: 250 204 21;
    --yellow-50-color: 254 252 232;
    --yellow-100-color: 245 249 195;
    --yellow-200-color: 254 240 138;
    --yellow-300-color: 253 224 71;
    --yellow-400-color: 250 204 21;
    --yellow-500-color: 234 179 8;
    --yellow-600-color: 202 138 4;

    --danger-color: 239 68 68;
    --warning-color: 250 204 21;
    --info-color: 96 165 250;
}