:root {
    --primary-color: 111 199 182;
    --primary-300-color: 184 225 217;
    --primary-100-color: 242 249 248;
    --primary-700-color: 72 170 151;

    --secondary-color: 43 56 68;
    --secondary-100-color: 243 244 246;

    --on-secondary-light-color: 102 102 102;

    --page-background-color: 249 250 251;
    --footer-background-color: 229 231 235;

    --card-subtitle-color: 43 56 68;
    --card-alternative-background-color: 102 102 102 0.07;

    --table-header-background-color: 138 140 142;
    --table-header-text-color: 255 255 255;
    --table-row-alternative-background-color: 249 250 251;
}